<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
        <tr>
            <td align="center" style="padding: 20px 0;">
                <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="font-family: 'Montserrat', sans-serif; color: #6e6b7b; background-color: #ffffff; border-radius: 6px; overflow: hidden; margin: auto;">
                    <tr>
                        <td style="text-align: center; padding: 20px;">
                            <img src="http://taskboard-images.s3-website.us-east-2.amazonaws.com/taskBoard/1719378521.778446.png" alt="Welcome Image" style="width: 100%; max-width: 560px; height: auto; border: 0;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 20px;">
                            <h1 style="font-size: 24px; font-weight: 600; color: #5e5873; margin: 20px 0;">Welcome to Sparetan - Verify Your Email Address!</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 20px;">
                            <p style="margin: 10px 0; line-height: 21px;">Dear {{ name }},</p>
                            <p style="margin: 10px 0; line-height: 21px;">Thank you for signing up with Sparetan! To ensure the security of your account, please verify your email address by clicking on the link below.</p>
                            <p style="margin: 10px 0; line-height: 21px;"><a href="{{ link }}" style="color: #1155cc;">Verify</a></p>
                            <p style="margin: 10px 0; line-height: 21px;">Once verified, you'll gain full access to our platform and its features. If you didn't create this account, please disregard this email.</p>
                            <p style="margin: 10px 0; line-height: 21px;">If you encounter any issues or need assistance, feel free to contact our support team.</p>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">
                            <p style="font-weight: 500; margin: 10px 0; line-height: 21px;">We're thrilled to have you on board and can't wait to see how you utilize Sparetan.</p>
                            <p style="font-weight: 500; margin: 10px 0; line-height: 21px;">Best regards,<br/>Sparetan Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
